.options{
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    height: 100vh;
    background: #FFEE63;
    border-radius: 30px;
    width: 12%;
    height: 500px;
    margin-left: 0.3%;
    margin-top: 30px;
    align-items: center;
}

.iconMenu{
    display: flex;
   justify-content: center;
    width: 90%;
    height: 18%;
    padding-top: 3%;
    border-radius: 30px;
    background-color: #FFEE63;
    border: none;
}

.iconMenu:hover{
    background-color: rgb(55, 49, 229);
}

