.formOrder{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.orderContainer{
    width: 70%;
    height: 250px;
    background: #FFF5E4;
    border: 1px solid rgba(0, 0, 0, 0.62);
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Montserrat';
    text-align: center;
}
.DataClientContainer{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;   
    font-family: 'Montserrat';
    font-size: 20px;
    height: 100vh;
    margin-top: 2%;
  
}
th{
    font-size: 19px;
    font-family: 'Montserrat';
    text-align: center;  
}
table{
    width: 100%;
    border-collapse:collapse;
}

 .inputClient{
    width: 50%;
    padding: 2%;
    margin-bottom: 3%;
    background: #FFF5E4;
    border: 0.3px solid #000000;
    border-radius: 10px; 
    text-align: center;
}
.btnSendOrder{
    background: #FF5B00;
    border: none;
    border-radius: 10px; 
    font-family: 'Lemon';
    font-size: 19px;
    text-align: center;
    color: #FFFFFF; 
    height:5%;     
}


